@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #9e7cea;
}

h2 {
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 3px;
}
#error-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#border {
    padding-bottom: 5%;
     width: 20% auto;
    margin: 0 15% 0 15%;
     border-top: 2px solid white;
}

#error-message {
    font-size: 20px;
    color:white;
    font-family: 'Roboto', sans-serif;
    background-color: #ad97de;
    padding-top: 2%;
    padding-bottom: 2%;
}

img {
    height: 50px;
    width: 50px;;
}