body {
	margin: 0;
    background-color: #0B5351;
    overflow: hidden;
    
}

.navigation-bar{
    display: inline-block;
    border: solid 2px #37888E;
    padding: 3vh;
    width: 100%;
    background-color: #37888E;
}

.search-bar {
    margin-left: 25%;
    margin-top: 20%;
}

.search-field {
    width: 60%;
    font-size: 30px;
}

.search_button {
    width: 15%;
    font-size: 30px;
}


.button {
    background-color: white;
    border-radius: 3vh;
    padding-left: 2vh;
    width: 20vh;
    padding-right: 1vh;
    border: solid 2px white;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.2);    
}

.button:focus {
    outline: 0;
}

.button-register {
    background-color: white;
    border-radius: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    border: solid 2px white;
    transition: transform .2s;
}

.button-register:hover {
    transform: scale(1.2);    
}

.button-register:focus {
    outline: 0;
}

.content-register {
    margin-top: 4vh;
    text-align: center;
    color: white;
    
}

.content-register input {
    margin-top: 1.5vh;
    
}

.register-field input {
    font-size: 24px;
}

#login-and-register {
    float: right;
    margin-right: 6vh;
}

#login-and-register input {
    padding-left: 1vh;
    font-size: 20px;
}

.nav_header h1{
    color: white;
}

.nav_header{
    width: 10%;
    float: left;
    background: pink;
}

#logout{
    float: right;
    margin-right: 6vh;
    background: pink;
}

#title {
    text-align: center;
    color: white;
}

#return {
    float: left;
}
