.navbar {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 2px solid #0B5351;
    background-color: #0B5351;
    padding: 2vh;
}

.navbar p{
    padding: 0px;
    color: white;
    text-align: center;
}

.button {
    border-radius: 10vh;
    border: 2px solid white;
    background-color: white;
    color: #0B5351;
}

.button-reg {
    border-radius: 10vh;
    border: 2px solid rgba(215, 59, 80, 1);
    background-color: rgba(215, 59, 80, 1);
    color: white;
}

.content-reg {
    padding-top: 15vh;
    padding-bottom: 3vh; 
    text-align: center;
    color: rgba(215, 59, 80, 1);
    font-size: 20px;
}

.content-reg input {
    width: 30vh;
}

#logOrSign {
    padding-right: 5vh;
    float: right;
}

#button-reg input {
    width: 20vh;
}

#button-reg input:hover {
    width: 21vh;
    height: 5vh;
    cursor: pointer;
}

body {
    background-color: rgba(55, 136, 142, 0.6);
}


