#body {
	background-color: #F7EBEC;
    margin: 0;
}

.btn-primary { 
    width: 30%;
}

#nav-logo{
    width: 10vh;
    margin: auto;
}

#navbar-container{
    background-color: #37888E;
    border-radius: 20px;
}

.jumbotron {
    margin: auto;
    position: relative;    
    width: 30%;
    align-items: center;
}

.jumbotron img{
    margin-top: 10vh;
    max-width: 50%;
    height: auto;
}

.search-button {
    border-bottom-right-radius:  3vh;
    border-top-right-radius: 3vh;
    font-size: 30px;
    background-color: white;
    padding-right: 3vh;
}

.navigation-bar {
    position: fixed;
    background-color: #37888e;
    height: auto;
    width: 100%;
    padding: 5px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button:focus {
    outline: 0;
}

#logout-button{
    font-size: 2vh;
    height: 4vh;
}

.search-field {
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
}

.navigation-bar{
    width: 100%;
    height: 10vh;
    display: inline-block;
    position: fixed;
    margin-top: 0px;
}
.navigation-bar img{
    height: 9vh;
    padding: 1vh;
    position: block;
}


.navigation-bar a{
    text-decoration: none;
    font-size: 3vh;
    color:white;
}

.navigation-bar a:hover{
    text-decoration: underline;
}

.nav-element{
    display: inline-table;
}

#user{
    padding: 2vh;
    padding-top: 3vh;
    position: absolute;
}

#logout{
    position: relative;
}

#search{
    position: relative;
    float: right;
    padding-top: 3vh;
}

#sidenav{
    background:white;
    height: 100%;
    padding-top: 9vh;
    position:static;
}


.content{
    height: 100%;
    background-color: white;
    padding-top: 11vh;
    position:static;
    width: 90%;
    margin-left: 5%;
}
